@font-face {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    src: local('Euclid Circular A'), url('@/assets/fonts/EuclidCircularA-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Euclid Circular A';
    font-style: italic;
    font-weight: 400;
    src: local('Euclid Circular A'), url('@/assets/fonts/EuclidCircularA-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 300;
    src: local('Euclid Circular A'), url('@/assets/fonts/EuclidCircularA-Light.woff') format('woff');
}

@font-face {
    font-family: 'Euclid Circular A';
    font-style: italic;
    font-weight: 300;
    src: local('Euclid Circular A'), url('@/assets/fonts/EuclidCircularA-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    src: local('Euclid Circular A'), url('@/assets/fonts/EuclidCircularA-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Euclid Circular A';
    font-style: italic;
    font-weight: 500;
    src: local('Euclid Circular A'), url('@/assets/fonts/EuclidCircularA-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    src: local('Euclid Circular A'), url('@/assets/fonts/EuclidCircularA-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Euclid Circular A';
    font-style: italic;
    font-weight: 600;
    src: local('Euclid Circular A'), url('@/assets/fonts/EuclidCircularA-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 700;
    src: local('Euclid Circular A'), url('@/assets/fonts/EuclidCircularA-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Euclid Circular A';
    font-style: italic;
    font-weight: 700;
    src: local('Euclid Circular A'), url('@/assets/fonts/EuclidCircularA-BoldItalic.woff') format('woff');
}
